body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://th.bing.com/th/id/OIP.fSNr1DQUM6nSIZ5DtsVdjAHaE7?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    color: #333;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Escurece um pouco a imagem */
    backdrop-filter: blur(8px); /* Aplica o desfoque */
    z-index: -1;
}

header, section, footer {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para o conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

header {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h2 {
    margin-top: 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    width: 32%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}
